@charset "ISO-8859-1";
hr {
    width: 100%;
}
.edit-content{
   position : relative;
   width:80%;
}
.edit-content .viewall{
      border-radius: 4px;
      border: 2px solid #DDDDDD;
}
.edit-content .text-edit-content{
    margin-left: 2.5%;   
}
.edit-content .form-edit-content{
    margin: 16px 32px;
    border: 1px solid rgb(221, 221, 221);
}
.edit-content .title{
    margin-top:0;
    padding: 12px 16px ;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(245, 245, 245);
}
.edit-content .row-form{
	
    padding: 12px 16px;
}
.edit-content label{
    display: block;
    font-weight: 550 ;
    margin-bottom: 8px;
}
.edit-content .textbox{
    width: 75%;
    min-height: 32px;
    border: 1px solid rgb(204, 204,204);
    border-radius: 4px;
    padding: 4px 12px;
    
}
.edit-content .button{
    border: 1px solid rgb(204, 204,204);
    border-radius: 4px;
    background-color: white;
    padding: 8px 16px;
    margin-top: -8px;
    cursor: pointer;
}
label.error{
display: block;
color: red;
}
